:root {
  --electric-blue: #159cff;
  --sky-blue: #57d0eb;
  --light-grey: #1f2233;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0f111a;
  color: #c5c5c5;
}

a {
  @apply text-amber;
  text-decoration: underline;
  font-weight: 600;
}

a:hover {
  color: white;
}

hr {
  margin: 20px 0;
  overflow-x: hidden;
  border: 0;
  height: 20px;
}

hr:after {
  content: "---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  color: #4f4f4f;
}

blockquote {
  padding-left: 2ch;
  overflow: hidden;
  color: var(--sky-blue);
  margin: 20px 0;
  position: relative;
}

blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  color: var(--sky-blue);
  top: 0;
  left: 0;
}

h1 {
  color: var(--electric-blue);
  font-weight: 800;
  font-size: 2rem;
  margin: 1rem 0;
}

h1:before {
  content: "# ";
  font-weight: 800;
}

h2 {
  color: var(--electric-blue);
  font-weight: 800;
  font-size: 1.6rem;
  margin: 1rem 0;
}

h2:before {
  content: "## ";
  font-weight: 800;
}

h3 {
  color: var(--electric-blue);
  font-weight: 800;
  font-size: 1.2rem;
  margin: 1rem 0;
}

h3:before {
  content: "### ";
  font-weight: 800;
}

li {
  position: relative;
  display: block;
  padding-left: 20px;
}

li:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "-";
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  padding: 8px;
  background: rgb(22, 23, 29);
}
*::-webkit-scrollbar-thumb {
  background: rgb(123, 123, 123);
  border-radius: 20px;
}
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
