p {
  margin-bottom: 1.2rem;
}

img {
  width: -webkit-fill-available;
}

hr {
  margin: 0;
  padding-bottom: 24px;
  padding-top: 8px;
}

pre {
  display: block;
  background-color: var(--light-grey);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  white-space: pre;
}

pre > code {
  display: block;
  color: white;
  padding: 0;
  font-weight: 500;
  overflow-x: auto;
}

code {
  padding: 0.2rem 0.2rem;
  background-color: var(--light-grey);
  font-weight: 900;
  color: #ff5370;
}

code::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
code::-webkit-scrollbar-track {
  padding: 8px;
  background: rgb(22, 23, 29);
}
code::-webkit-scrollbar-thumb {
  background: rgb(123, 123, 123);
  border-radius: 20px;
}
code:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.post blockquote {
  margin: 0;
  overflow: hidden;
  min-height: auto;
}

.post blockquote p {
  margin: 0;
}
