p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 20px;
}

hr {
    margin: 0;
    padding-bottom: 24px;
    padding-top: 8px;
}

pre {
    display: block;
    background: transparent !important;
    border: 1px solid hsla(0, 0%, 100%, .1);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    white-space: pre;
}

pre>code {
    display: block;
    color: white;
    padding: 0;
    overflow-x: auto;
    background: transparent;
}

code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

code::-webkit-scrollbar-track {
    padding: 8px;
    background: rgb(22, 23, 29);
}

code::-webkit-scrollbar-thumb {
    background: rgb(123, 123, 123);
    border-radius: 20px;
}

code:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.post img {
    max-width: 100%;
    min-width: 100%;
}