<footer class="flex flex-col w-full pb-6">
    <hr />
    <p class="mb-3">Copyright {{ year }} SphericalKat.</p>
    <blockquote>
        <p>All opinions that may be listed here are my own and are not necessarily
            representative of my employers'; past, present or future.</p>
    </blockquote>
    <p class="m-0">Served by <code class="text-[#78e2a0]">{{ path }}</code></p>
    <p class="m-0">rustc version <code class="text-[#78e2a0]">{{ version }}</code></p>
    <p class="m-0">See source code <a href="https://github.com/sphericalkat/sphericalk.at">here</a>.</p>
</footer>