<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/tailwind.generated.css">
  <link rel="stylesheet" href="/static/main.generated.css">
  <title>{{name}}</title>
</head>

<body>
  <div class="flex flex-col max-w-5xl m-auto h-full p-6">
    {% include "header.html" %}

    <div class="grid grid-cols-1 sm:grid-cols-4 sm:gap-8">
      <div class="col-span-1 font-mono m-auto sm:m-0">
        <img src="https://avatars.githubusercontent.com/u/31761843" loading="lazy" />
      </div>

      <div class="col-span-3 mt-6 sm:m-0">
        <h1>Amogh Lele</h1>
        <hr class="m-0">

        <h2 class="mt-4">Skills</h2>
        <ul class="mt-2">
          <li>Kotlin/Java, Rust, Go, JS/TS, Dart, Python, Elixir and other languages</li>
          <li>React, Vue, Nuxt</li>
          <li>Node.JS, ASP.NET core, Django, Flask, FastAPI, Phoenix and other web frameworks</li>
          <li>Native Android, Flutter, React Native</li>
          <li>Docker</li>
          <li>Kubernetes</li>
          <li>TensorFlow</li>
        </ul>

        <h2 class="mt-6">Highlighted Projects</h2>
        <ul class="mt-2">
          <li><a href="https://github.com/sphericalkat/katbin">Katbin</a> - A simple and elegant pastebin +
            URL shortener</li>
          <li><a href="https://github.com/sphericalkat/sphericalk.at">This website</a> - My brutalist
            portfolio site</li>
          <li><a href="https://github.com/SphericalKat/dart-fuzzywuzzy">fuzzywuzzy</a> - A Dart port of the
            popular fuzzywuzzy library</li>
          <li><a href="https://github.com/SphericalKat/secur">secur</a> - A cross-platform 2FA TOTP app with a
            beautiful UI</li>
          <li><a href="https://github.com/AnimeTwist/twist-mobile">Anime Twist</a> - A native Android client
            for Anime Twist</li>
        </ul>

        <h2 class="mt-8">Quick links</h2>
        <ul class="mt-2">
          <li><a href="https://github.com/sphericalkat">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/amogh-lele">LinkedIn</a></li>
          <li><a href="https://t.me/sphericalkat">Telegram</a></li>
          <li><a href="https://twitter.com/ATechnoHazard">Twitter</a></li>
        </ul>
      </div>

    </div>
    <Footer />
  </div>
</body>

</html>